---
import '../../styles/mainichi/main.scss';
import PageTopBtn from "../../components/mainichi/PageTopBtn.astro";
import Footer from '../../components/mainichi/Footer.astro';

const { title } = Astro.props;
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{ title }</title>
    </head>
    <body>
        <header>
            <div class="is-container">
                <div class="is-grid-r -header main-header">
                    <div class="col-1">
                        <hgroup>
                            <a id="brand" href="#">
                            <h1>The Mainichi</h1>
                            <h2>Japan's National Daily Since 1922</h2>
                            </a>
                        </hgroup>
                    </div>
                    <div class="col-2">
                        <form class="is-search">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M10 2a8 8 0 105.293 14.293l4.707 4.707 1.414-1.414-4.707-4.707A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z"/>
                                </svg>
                            </span>
                            <input type="search">
                            <button type="button">Search</button>
                        </form>
                    </div>
                    <div class="col-3">
                        <nav>
                            <ul class="is-horizontal-list">
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Japanese</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="main-menu">
                <div class="is-container">
                    <nav>
                        <ul class="is-horizontal-list">
                            <li><a href="#">Top</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Japan</a></li>
                            <li><a href="#">World</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Enternainment</a></li>
                            <li><a href="#">Opinion</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Obituaries</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Photos</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <slot />
        <PageTopBtn />
        <hr class="line-stripe-separator -no-margin" />
        <Footer />
    </body>
</html>