@import "@csstools/normalize.css";
@import "../solution.scss";
@import "icons.css";

:root {
    --header-height: 65px;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('/obbli/NotoSansJP-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'NotoSansJP';
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}