@import "@csstools/normalize.css";
@import "../solution.scss";

@font-face {
    font-family: 'NotoSansJP';
    src: url('/obbli/NotoSansJP-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NotoSansJP';
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

header {
    div.is-flex {
        justify-content: space-between;
        align-items: center;

        hgroup {
            min-width: 10.62rem;

            a {
                display: block;
    
                h1 {
                    background-image: url('/obbli/Z_logo_logo-set.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    text-indent: -9999px;
                    font-size: 1rem;
                }
                
                h2 {
                    font-size: 0;
                    text-indent: -9999px;
                }
            }
        }
        nav {
            ul.mobile-menu {
                li {
                    a {
                        display: block;
                        padding: 1rem;
                        color: white;
                        text-indent: -9999px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    a.contact {
                        background-image: url('/obbli/mail-icon.png');
                        background-color: #333333;
                    }
                    a.menu {
                        background-image: url('/obbli/menu-icon.png');
                        background-color: #527dcf;
                    }
                }
            }
        }
    }
}