---
import Image from "astro/components/Image.astro"
---

<footer>
    <div class="is-container">
        <div class="is-grid-r footer-grid">
            <div>
                <ul>
                    <li><a href="#">Japan</a></li>
                    <li><a href="#">Crime & Accidents</a></li>
                    <li><a href="#">Politics</a></li>
                    <li><a href="#">Social Issues</a></li>
                    <li><a href="#">Weather & Disasters</a></li>
                    <li><a href="#">History & Festivals</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Imperial Family</a></li>
                    <li><a href="#">Polls</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#">World</a></li>
                    <li><a href="#">Asia & Oceania</a></li>
                    <li><a href="#">Usa & Canada</a></li>
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">Middle East</a></li>
                    <li><a href="#">Latin America</a></li>
                    <li><a href="#">Africa</a></li>
                </ul>
                <ul>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Corporate</a></li>
                    <li><a href="#">Economy</a></li>
                    <li><a href="#">Financial</a></li>
                    <li><a href="#">Agriculture & Fisheries</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Baseball</a></li>
                    <li><a href="#">Soccer</a></li>
                    <li><a href="#">Sumo</a></li>
                    <li><a href="#">Tennis</a></li>
                    <li><a href="#">Golf</a></li>
                    <li><a href="#">Rugby</a></li>
                    <li><a href="#">Athletics</a></li>
                    <li><a href="#">Winter Sports</a></li>
                    <li><a href="#">Olympics & Paralympics</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#">Science</a></li>
                    <li><a href="#">Tecnology</a></li>
                    <li><a href="#">Medical</a></li>
                    <li><a href="#">Environment</a></li>
                    <li><a href="#">Space</a></li>
                </ul>
                <ul>
                    <li><a href="#">Enternainment</a></li>
                    <li><a href="#">Anime & Manga</a></li>
                    <li><a href="#">Showbiz</a></li>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Amusement</a></li>
                    <li><a href="#">Film</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Books</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#">Opinion</a></li>
                    <li><a href="#">Editorial</a></li>
                    <li><a href="#">News Navigator</a></li>
                    <li><a href="#">Perspectives</a></li>
                </ul>
                <ul>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Animal</a></li>
                    <li><a href="#">Travels</a></li>
                    <li><a href="#">Hearth</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Fashion</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">A-bomb survivors</a></li>
                </ul>
                <ul>
                    <li><a href="#">Obituaries</a></li>
                </ul>
                <ul>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Photo Journal</a></li>
                    <li><a href="#">Photo Specials</a></li>
                </ul>
                <ul>
                    <li><a href="#">Videos</a></li>
                </ul>
            </div>
            <div class="col-78">
                <ul>
                    <li>The Mainichi on social media</li>
                    <li>
                        <span><a class="facebook-link" href="#"></a></span>
                        <span><a class="twitter-link" href="#"></a></span>
                        <span><a class="instagram-link" href="#"></a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="is-container">
            <div class="is-flex">
                <img class="brand" src="/mainichi/logo-mainichi_w_e.png" alt="The Mainichi Company" loading="lazy" />
                <nav>
                    <ul class="is-horizontal-list">
                        <li><a href="#">Copyright</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">External Transmission of User Information</a></li>
                        <li><a href="#">Advertise with Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <p>Copyright THE MAINICHI NEWSPAPERS. All rights reserved.</p>
        </div>
    </div>
</footer>