<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Indice</title>
    </head>
    <body>
        <ul>
            <li><a href="/mainichi/index.html">The Mainichi</a></li>
            <li><a href="/obbli/index.html">Obbli</a></li>
        </ul>
    </body>
</html>