---
import "../../styles/solution.scss"
import Hamburguer from "../../components/hamburguer.astro";
import Cross from "../../components/cross.astro";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Navigators</title>
    </head>
    <body>
        <header>
             <div class="is-container-f is-horizontal-list">
                <h1><a href="#">LOGO</a></h1>
                <Hamburguer idName="navigator-button" />
            </div>
            <nav class="navigator">
                <ul class="is-vertical-list">
                    <li class="mobile-menu is-container-f"><Cross /></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Transition Mobile Side Menu</h1>
        </main>
    </body>
</html>

<style>
    :root {
        --header-height: 56px;
    }
    a {
        text-decoration: none;
    }
    header {
        background-color: #f6f8fa;

        div.is-horizontal-list {
            height: var(--header-height);
            justify-content: space-between;

            h1 {
                font-size: 1.68rem;
            }
        }
        
        nav.navigator.open {
            background-color: rgba(0, 0, 0, 0.5);


            ul {
                width: 70vw;
            }
        }
        nav.navigator {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            border-left: 1px solid #d2d5d8;
            background-color: none;

            ul {
                width: 0;
                height: 100vh;
                float: right;
                background-color: #f6f8fa;

                li.mobile-menu {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    height: var(--header-height);
                }
                li {
                    a {
                        display: block;
                        padding: 0.45rem;
                        text-align: center;

                        &:hover {
                            background-color: #eef1f3;
                        }
                        &:active {
                            color: black;
                        }
                    }
                }
            }
        }
    }
</style>