---
---

<section class="interesting-content">
    <h2>Also Inside</h2>
    <nav>
        <ul class="is-vertical-list">
            <li><a href="#">Haiku in English</a></li>
            <li><a href="#">A-bomb Survivors</a></li>
            <li><a href="#">Mainichi Wartime Photographs</a></li>
        </ul>
    </nav>
</section>

<style>
    .interesting-content {
        h2 {
            margin: 1rem 0;
            font-size: 1.45rem;
            line-height: 1.45rem;
            font-weight: 400;
        }
        nav {
            ul {
                li {
                    a {
                        display: block;
                        padding: 0.5rem 0;
                        border-bottom: 1px solid #eee;
                        color: var(--main-text-color);
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 0.95rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
</style>