---
---

<div class="page-top-area">
    <div class="is-container">
        <a href="#brand">Go to Page Top</a>
    </div>
</div>

<style>
    .page-top-area {
        margin-top: 2rem;
        border-top: 1px solid #ccc;
        text-align: right;
        overflow: hidden;

        div {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        a {
            display: inline-block;
            padding: 0.32rem 1rem;
            font-size: 0.9rem;
            color: black;
            text-decoration: none;

            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;

            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>