---
import BaseLayout from "../../layouts/obbli/BaseLayout.astro";
import LandingHero from "../../components/obbli/LandingHero.astro";
---

<BaseLayout>
    <main>
        <LandingHero />
    </main>
</BaseLayout>